.ff0{font-family:sans-serif;visibility:hidden;}
.sc_{text-shadow:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
}
.y0{bottom:0.000000px;}
.h1{height:77%;}
.h0{height:77%;}
.w0{width:99%;}
.w1{width:99%;}
.x0{left:0.000000px;}
@media print{
.y0{bottom:0.000000pt;}
.h1{height:793.333333pt;}
.h0{height:793.600000pt;}
.w0{width:1122.560000pt;}
.w1{width:1122.666667pt;}
.x0{left:0.000000pt;}
}
